.timer {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%, 0);

  height: 4px;
  background-color: rgb(24, 176, 247);
  border-radius: 10rem;

  animation: time 10s linear;
}

@keyframes time {
  from {
    width: calc(100% - 4.8rem);
  }
  to {
    width: 0;
  }
}
