.difficulty-el {
  position: absolute;
  top: 0;
  right: 2rem;
  transform: translate(0, -50%);

  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 4px 8px;
}

.hard {
  background-color: #a03014;
  color: #f7a793;
}

.medium {
  background-color: #d1be0f;
  color: #fff598;
}

.easy {
  background-color: #67be15;
  color: #d0ffa4;
}

.question-el {
  font-size: 2.4rem;
  color: #222;
  margin-bottom: 3.2rem;
}

.answers {
  margin-bottom: 2.4rem;
}
